/* GENERAL */

.titulo-morado {
    font-weight: bold;
    font-size: 4rem;
    text-transform: uppercase;
    color: #0716CF;
}

.titulo-negrita {
    font-size: 3rem;
    font-weight: bold;
    color: black;
}

.subtitulo-negrita {
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

/* HOME */

.btn-circulo:hover {
    background-color: #A3A3A3;
}


/* OVERLAY - TRANSITION */
.seccion-overlay {
    position: relative;
    width: 100%;
}
  
.image {
    display: block;
    width: 100%;
    height: auto;
}
  
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}
  
.seccion-overlay:hover .overlay {
    width: 75%;
}
  
.text {
    white-space: wrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.titulo-overlay {
    font-size: 2.5rem;
    color: #8E38E8;
}

#nombre::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }

#whatsapp::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }

#mensaje::placeholder {
    text-align: center;
    color: white;
    opacity: 1; /* Firefox */
  }